*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(124, 124, 124);
}
h1{
    text-align: center;
    color: whitesmoke;
}
footer{
    margin-top: 15.8%;
}
