{% extends 'layout.html.twig'%}

{% block stylesheet %}
<link rel="stylesheet" href="./css/home.page.css">
{% endblock %}

{% block body %}

<h1 class="h1">Bienvenue sur {{siteName}}</h1>

{% endblock %}